
	@import url(http://fonts.googleapis.com/css?family=Oswald);
	@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

	.font(@family,@size,@line,@spacing) {
		font-family: @family, sans-serif;
		font-weight: 400;
		font-size: @size*1px;
		line-height: @size*@line*1px;
		letter-spacing: @spacing*1px;
	}

	html {
		width: 100%;
		height: 100%;

		body {
			width: 100%;
			height: 100%;

			margin: 0;
			padding: 0;
			overflow: hidden;
			
			background: #000;
			color: #ded4b9;		

			* {
				box-sizing: border-box;
			}

			.disabled {
				pointer-events: none;
			}
		}

		::selection {
			background: #777;
			color: #777;
		}
	}

	.rvk {

		.rocks {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			z-index: 3;

			max-width: 1440px;
			min-width: 789px;

			margin: 0 auto;
			padding: 0 80px;

			transition: left .75s cubic-bezier(.75,0,.25,1);
			-webkit-transition: left .75s cubic-bezier(.75,0,.25,1);

			&.on {
				left: 360px;
			}

			h2 {
				width: 235px;
				height: 81px;

				margin: 0 0 12px;
				padding: 0;
				overflow: hidden;

				background: url('reykjavik-rocks.svg');
				background-size: cover;
				opacity: 0;

				text-indent: -234%;

				&.show {
					opacity: 1;
					transition: opacity 3s 0s;
					-webkit-transition: opacity 3s 0s;
				}
			}

			h1 {
				max-width: 765px;

				margin: 0 0 24px;
				padding: 0;

				opacity: 0;

				.font('Oswald',120,1.19,-5);
				text-transform: uppercase;
				text-align: left;

				&.show {
					opacity: 1;
					transition: opacity 3s 0s;
					-webkit-transition: opacity 3s 0s;
				}
			}

			p {
				max-width: 632px;

				margin: 0 0 48px 9px;

				.font(Montserrat,16,1.625,0);

				opacity: 0;

				&.show {
					opacity: 1;
					transition: opacity 3s 1.5s;
					-webkit-transition: opacity 3s 1.5s;
				}
			}

			button {
				display: inline-block;

				position: relative;

				width: auto;
				height: 77px;

				margin: 0;
				padding: 0 39px;
				overflow: hidden;

				.font(Oswald,20,1,0);
				text-transform: uppercase;

				background: none;
				color: #ded4b9;
				opacity: 0;

				border: solid 2px #ded4b9;
				outline: none;

				cursor: pointer;

				&.show {
					opacity: 1;
					transition: opacity 2s 2.5s, color .5s cubic-bezier(.75,0,.25,1);
					-webkit-transition: opacity 2s 2.5s, color .5s cubic-bezier(.75,0,.25,1);
				}

				&:before {
					content: '';

					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;

					width: .01%;
					height: 100%;

					background: #ded4b9;

					transition: width .5s cubic-bezier(.75,0,.25,1);
					-webkit-transition: width .5s cubic-bezier(.75,0,.25,1);
				}

				&:hover, &.on {
					color: #000;

					&:before {
						width: 100%;
					}
				}

				&.on {
					pointer-events: none;
				}

				&:first-of-type {
					margin-left: 9px;					
				}

				&:last-of-type {
					border-left: none;
				}
			}
		}

		.info {
			position: absolute;
			top: 0;
			left: -360px;
			z-index: 3;

			width: 360px;
			height: 100%;

			background: #f7f3e8;
			color: #111;

			transition: left .75s cubic-bezier(.6,0,.25,1);
			-webkit-transition: left .75s cubic-bezier(.6,0,.25,1);

			> i {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;

				width: 48px;
				height: 48px;

				margin: 0;
				padding: 15px;

				opacity: 0;

				cursor: pointer;

				transition: opacity .5s 1.2s;
				-webkit-transition: opacity .5s 1.2s;

				span {
					position: relative;

					display: block;

					width: 18px;
					height: 18px;

					&:before, &:after {
						content: '';

						position: absolute;
						top: 50%;
						left: 50%;

						width: 100%;
						height: 1px;

						background: #111;
					}

					&:before {
						transform: translate(-50%,-50%) rotate(45deg);
						-webkit-transform: translate(-50%,-50%) rotate(45deg);
					}

					&:after {
						transform: translate(-50%,-50%) rotate(-45deg);
						-webkit-transform: translate(-50%,-50%) rotate(-45deg);
					}
				}
			}

			> div {
				position: absolute;
				top: 150%;
				left: 0;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);

				padding: 40px;

				transition: top .75s cubic-bezier(.75,0,.25,1);
				-webkit-transition: top .75s cubic-bezier(.75,0,.25,1);

				p {
					.font(Montserrat,14,1.625,0);
					margin: 0 0 16px;

					strong {
						font-weight: 700;
					}
				}

				h3 {
					margin: 18px 0;
					.font(Montserrat,24,1,0);
				}

				a {
					position: relative;
					color: #000;
					text-decoration: none;

					i {
						position: absolute;
						bottom: -1px;
						left: 0;

						width: 100%;
						height: 1px;

						&:before {
							content: '';
							display: block;

							position: absolute;
							bottom: 0;
							left: 0;

							width: 0.001%;
							height: 100%;

							transition: width 0s, background .5s;
							-webkit-transition: width 0s, background .5s;
						}

						&:after {
							content: '';
							display: block;

							position: absolute;
							right: 0;
							bottom: 0;

							width: 0.001%;
							height: 100%;

							background: #000;

							transition: width .5s;
							-webkit-transition: width .5s;
						}
					}

					&:hover {

						i {
							&:before {
								width: 100%;

								background: #000;

								transition: width .5s;
								-webkit-transition: width .5s;
							}

							&:after {
								width: 100%;

								background: transparent;

								transition: background 0s;
								-webkit-transition: background 0s;
							}
						}
					}
				}

				&.on {
					top: 50%;
					transition: top 1.25s cubic-bezier(.75,0,.25,1);
					-webkit-transition: top 1.25s cubic-bezier(.75,0,.25,1);
				}
			}

			&.on {
				left: 0;

				> i {
					opacity: 1;
				}
			}
		}

		.cover {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		
			width: 100%;
			height: 100%;

			background: #000;
			opacity: 0;

			transition: opacity 4s;
			-webkit-transition: opacity 4s;

			&.on {
				opacity: .6;
			}

			&.off {
				display: none;
			}
		}

		.tv {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			width: 100%;
			height: 100%;

			overflow: hidden;

			background-image: url('iceland.jpg');
			background-size: cover;
			background-position: center;

			transition: left .75s cubic-bezier(.6,0,.25,1);
			-webkit-transition: left .75s cubic-bezier(.6,0,.25,1);

			&.on {
				left: 360px;
				transition: left 2s;
				-webkit-transition: left 2s;
			}

			.screen {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;

				margin: auto;

				opacity: 0;
				transition: opacity 4s;
				-webkit-transition: opacity 4s;

				&.on {
					opacity: 1;
				}

				&.off {
					display: none;
				}
			}
		}
	}

	@media (max-width: 920px) {

		.rvk {

			.rocks {
				padding: 0 40px;

				&.on {
					left: 288px;
				}

				h2 {
					width: 188px;
					height: 64px;
				}

				h1 {
					max-width: 620px;
					.font('Oswald',96,1.19,-4);
				}

				p {
					max-width: 490px;
					margin: 0 0 38px 7px;
					.font(Montserrat,14,1.625,0);
				}

				button {
					height: 62px;
					padding: 0 32px;
					font-size: 16px;

					&:first-child {
						margin-left: 7px;
					}
				}
			}

			.info {
				left: -288px;
				width: 288px;

				> div {

					p {
						.font(Montserrat,12,1.625,0);
						margin: 0 0 12px;
					}

					h3 {
						margin: 14px 0;
						font-size: 19px;
					}
				}
			}

			.tv.on {
				left: 288px;
			}
		}
	}

	@media (max-width: 680px) {

		.rvk {

			.rocks {
				max-width: inherit;
				min-width: inherit;

				h2 {
					width: 141px;
					height: 48px;
				}

				h1 {
					max-width: inherit;
					.font('Oswald',48,1.19,-2);
				}

				p {
					max-width: 75%;
					margin-bottom: 32px;
					.font(Montserrat,13,1.625,0);
				}

				button {
					height: 49px;
					padding: 0 25px;
					font-size: 13px;
				}
			}
		}
	}

	@media (max-width: 380px) {

		.rvk {

			.rocks {
				min-width: 320px;

				p {
					max-width: inherit;
				}
			}
		}
	}

	@media (max-width: 340px) {

		.rvk {

			.rocks {
				padding: 0 20px;
			}
		}
	}

	@media (max-width: 320px) and (max-height: 570px) {

		.rvk {

			.rocks {

				h1 {
					.font('Oswald',40,1.19,-1);
				}

				p {
					.font(Montserrat,11,1.4,0);
				}
			}

			.info {
				left: -248px;
				width: 248px;

				> div {

					p {
						.font(Montserrat,9,1.4,0);
						margin: 0 0 9px;
					}

					h3 {
						margin: 8px 0;
						font-size: 13px;
					}
				}
			}

			.tv.on {
				left: 248px;
			}
		}
	}